<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <!--<customErrors defaultRedirect="Default.aspx" mode="RemoteOnly">
    </customErrors>-->
  </system.web>
  <connectionStrings>
    <!--<add name="Con" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=CMS;User ID=sa;Password=123" providerName="System.Data.SqlClient" />-->
    <add name="Con" connectionString="Data Source=SQL6003.SmarterASP.NET;Initial Catalog=DB_A29F65_thesis;User ID=DB_A29F65_thesis_admin;Password=P@ssword123"
      providerName="System.Data.SqlClient"/>  
    <!--<add name="Con" connectionString="Data Source=MUSTAFIZUR-PC;Initial Catalog=CustomerAnalysis;User ID=sa;Password=123"
      providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
 
</configuration>